<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- CSS -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <script type="text/javascript" src="/player/sewise.player.min.js"></script>
</head>

<body>

<!-- Part 1: Wrap all page content here -->
<div id="wrap">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="#"><%= title %></a>
            </div>
        </div>
    </div>

    <!-- Begin page content -->
    <%if(deviceType == "phone"){%>
    <div class="container" id="list" style="width:100%;">
    <%}else if(deviceType == "pad"){%>
    <div class="container" id="list" style="width:100%;margin-top:60px">
    <%}%>
        <ul class="thumbnails row">
            <% for(i = 0;i < lives.length;i++){ %>
            <div class="span12">
                <li class="span12">
                    <a href="#" class="thumbnail"
                       onclick="watchLive('<%= lives[i].streamcode %>','<%= lives[i].live_name %>','<%= lives[i].username %>')"
                       style="background-image:url('/assets/img/liveback.png');background-size:cover">
                        <img style="width: 100%; height: 160px;background-image:url(<%= snapshotUrl %> <%= lives[i].streamcode %>.png);background-size:cover">
                        </img>
                    </a>
                </li>
                <p class="span12" style="padding:6px;font-size:14px;color:#555555;text-align:center"><%= lives[i].live_name %>
                    &nbsp;&nbsp;&nbsp;&nbsp;主播:<%= lives[i].username %></p>
            </div>
            <% } %>
        </ul>
    </div>


    <!--<div class="container" id="list">-->
    <!--<div id="player" style="width:100%;">-->
    <!--<script type="text/javascript">-->
    <!--SewisePlayer.setup({-->
    <!--server: "vod",-->
    <!--type: "m3u8",-->
    <!--autostart: "true",-->
    <!--poster: "http://108.61.182.153:8099/6BCC5FB5-C242-4F3F-9D9F-F6645B1AE955.png",-->
    <!--videourl: "http://108.61.182.153:8099/hls/6BCC5FB5-C242-4F3F-9D9F-F6645B1AE955.m3u8",-->
    <!--skin: "vodWhite",-->
    <!--title: "Live M3U8",-->
    <!--claritybutton: "disable",-->
    <!--lang: "zh_CN"-->
    <!--}, "player");-->
    <!--</script>-->
    <!--</div>-->
    <!--</div>-->
</div>


<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/bootstrap-transition.js"></script>
<script src="/assets/js/bootstrap-alert.js"></script>
<script src="/assets/js/bootstrap-modal.js"></script>
<script src="/assets/js/bootstrap-dropdown.js"></script>
<script src="/assets/js/bootstrap-scrollspy.js"></script>
<script src="/assets/js/bootstrap-tab.js"></script>
<script src="/assets/js/bootstrap-tooltip.js"></script>
<script src="/assets/js/bootstrap-popover.js"></script>
<script src="/assets/js/bootstrap-button.js"></script>
<script src="/assets/js/bootstrap-collapse.js"></script>
<script src="/assets/js/bootstrap-carousel.js"></script>
<script src="/assets/js/bootstrap-typeahead.js"></script>

<script type="text/javascript">
    function watchLive(streamcode, livename, username) {
        document.location = "/live/mobile/" + streamcode + "/" + livename + "/" + username;
    }
</script>

</body>
</html>
