<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- CSS -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <script type="text/javascript" src="/player/sewise.player.min.js"></script>
</head>

<body>

<!-- Part 1: Wrap all page content here -->
<div id="wrap">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="#"><%=title%></a>
            </div>
        </div>
    </div>

    <!-- Begin page content -->

    <%if(pass=="pass" || password == null || password == ""){%>
    <div class="container" id="list" style="margin-top:10%">
        <div id="player" style="width:100%;">
            <script type="text/javascript">
                SewisePlayer.setup({
                    server: "vod",
                    type: "m3u8",
                    autostart: "true",
                    poster: "<%=snapshotUrl%><%=livecode%>.png",
                    videourl: "http://<%=streamUrl%>:8099/hls/<%=livecode%>.m3u8",
                    //skin: "vodFlowPlayer",
                    //title: "<%=username%>的直播",
                    claritybutton: "disable",
                    //lang: "zh_CN"
                }, "player");
            </script>
        </div>
    </div>
    <%}else{%>
    <div class="container">
        <form class="form-signin">
            <h3 class="form-signin-heading">&nbsp;&nbsp;房间已加密</h3>
            <input id="room_password" type="password" class="input-block-level" placeholder="请输入密码">
            <button onClick="enterRoom()" class="btn btn-large btn-success" type="button"><i class="icon-ok icon-white"
                                                                                            style="margin-left:-10px"></i>&nbsp;&nbsp;提交
            </button>
        </form>
    </div>
    <%}%>

</div>

<script>
    //进入加密房间
    function enterRoom() {
        document.location = "/live/mobile/<%=username%>?password="+$("#room_password").val();
    }
</script>

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/bootstrap-transition.js"></script>
<script src="/assets/js/bootstrap-alert.js"></script>
<script src="/assets/js/bootstrap-modal.js"></script>
<script src="/assets/js/bootstrap-dropdown.js"></script>
<script src="/assets/js/bootstrap-scrollspy.js"></script>
<script src="/assets/js/bootstrap-tab.js"></script>
<script src="/assets/js/bootstrap-tooltip.js"></script>
<script src="/assets/js/bootstrap-popover.js"></script>
<script src="/assets/js/bootstrap-button.js"></script>
<script src="/assets/js/bootstrap-collapse.js"></script>
<script src="/assets/js/bootstrap-carousel.js"></script>
<script src="/assets/js/bootstrap-typeahead.js"></script>

</body>
</html>
