<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- CSS -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">

        /* Sticky footer styles
        -------------------------------------------------- */

        html,
        body {
            height: 100%;
            font-family: "微软雅黑"
            /* The html and body elements cannot have any padding or margin. */
        }

        /* Wrapper for page content to push down footer */
        #wrap {
            min-height: 100%;
            height: auto !important;
            height: 100%;
            /* Negative indent footer by it's height */
            margin: 0 auto -60px;
        }

        /* Set the fixed height of the footer here */
        #push,
        #footer {
            height: 60px;
        }

        #footer {
            background-color: rgba(235, 235, 235, 0.6);
        }

        /* Lastly, apply responsive CSS fixes as necessary */
        @media (max-width: 767px) {
            #footer {
                margin-left: -20px;
                margin-right: -20px;
                padding-left: 20px;
                padding-right: 20px;
            }
        }

        /* Custom page CSS
        -------------------------------------------------- */
        /* Not required for template or sticky footer method. */

        .container {
            width: auto;
            max-width: 90%;
        }

        .container .credit {
            margin: 20px 0;
        }

        .form-signin {
            max-width: 300px;
            padding: 10px 29px 29px;
            margin: 200px auto 20px;
            background-color: rgba(255, 255, 255, 0.7);
            border: 1px solid #e5e5e5;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
            -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
            box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
        }

        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }

        .form-signin input[type="text"],
        .form-signin input[type="password"] {
            font-size: 18px;
            height: auto;
            margin-bottom: 15px;
            padding: 10px 10px;
        }

    </style>
    <link href="/assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.js"></script>
    <![endif]-->
    <script src="/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/dist/sweetalert.css">
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/assets/ico/favicon.png">
</head>

<body style="overflow: hidden">

<!--<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->
<!--<div class="modal-header">-->
<!--&lt;!&ndash;<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>&ndash;&gt;-->
<!--<h4 id="myModalLabel">开始直播!</h4>-->
<!--</div>-->
<!--<div class="modal-body">-->
<!--<p style="font-size:18px">您的直播推流码如下：</p>-->
<!--<p id="streamcode" style="color:red">-->
<!--<% if(streamcode){ %>-->
<!--<%= streamcode %>-->
<!--<% } %>-->
<!--</p>-->
<!--</div>-->
<!--<div class="modal-footer">-->
<!--<button class="btn" data-dismiss="modal" aria-hidden="true">我知道了</button>-->
<!--</div>-->
<!--</div>-->


<div id="shareModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-header">
        <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>-->
        <h4 id="myModalLabel">直播分享</h4>
    </div>
    <div class="modal-body">
        <p style="font-size:18px">您的移动端直播间地址</p>

        <p id="streamcode" style="color:red">
            <% if(streamcode){ %>
            <%=webClientUrl%>/live/mobile/<%= username %>
            <% } %>
        </p>

        <p style="font-size:18px">您的PC端直播间地址</p>

        <p id="streamcode" style="color:red">
            <% if(streamcode){ %>
            <%=webClientUrl%>/live/show/<%= username %>
            <% } %>
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">好的</button>
    </div>
</div>


<!-- Part 1: Wrap all page content here -->
<div id="wrap" style="background-image:url('/assets/img/back.jpg');background-size:'contain';">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="#"><%= title %></a>

                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li><a href="#" onClick="toggleMenu('0')">直播列表</a></li>
                        <li><a href="#myroom" onClick="toggleMenu('1')">我的直播间</a></li>
                        <li><a href="#myroom" onClick="toggleMenu('2')">我只想看弹幕</a></li>
                        <li><a href="#usercenter" onClick="toggleMenu('9')"><img src="/assets/img/head.jpg"
                                                                                 style="height:20px;width:20px;border-radius: 10px"/>&nbsp;<%= username %>
                            </a>
                        </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <!-- Begin page content -->


    <div class="container" id="myroom">
        <div style="width:100%;padding-top:60px;text-align:center">
            <p>
                <% if(streamcode){ %>

            <p id="codetip" style="font-size:14px;color:#FFFFFF">已开启直播,推流码：&nbsp;&nbsp;<span
                        id="mycode"><%= streamcode %></span>
                <a id="roomNameButton" href="#"
                   style="margin-left:20px;font-size:16px;color:#228b22" onclick="changeRoomName()">改房间名
                </a>

                <a id="encodeButton"  href="#"
                style="margin-left:20px;font-size:16px;color:#696969" onclick="encodeRoom()">房间加密
                </a>

                <a id="startLiveButton" href="#"
                   style="margin-left:20px;font-size:16px;color:#FF0000" onclick="endLive('<%= user_id %>')">关闭直播
                </a>
            </p>
            <button id="startLiveButton" class="btn btn-large btn-block btn-primary" type="button"
                    style="width:20%;margin-left:40%" onclick="toggleMenu('10')">分享直播间
            </button>
            <% }else{ %>
            <input id="livename" type="text" style="width:360px;height:30px;margin:5px" placeholder="请输入直播间名称"/>
            <button id="startLiveButton" class="btn btn-large btn-success" type="button"
                    onclick="startLive('<%= user_id %>')">开启直播
            </button>
            <% } %>
            </p>
        </div>
        <div style="position: absolute;left: 50%;height:800px">
            <div style="width:1000px;height:560px;line-height: 25px;margin: 0 5px;float: left;position: relative;right: 50%;padding-top:20px">
                <script type="text/javascript"
                        src="/player/sewise.player.min.js?server=live&type=rtmp&streamurl=rtmp://<%= streamUrl %>/<%= streamName %>/<%= streamcode %>&autostart=true&buffer=5
                        &lang=zh_CN
                        &logo=http://onvod.sewise.com/libs/swfplayer/skin/images/logo.png
                        &poster=/assets/img/liveback.jpg
                        &title=
                        &skin=liveWhite">
                </script>
            </div>
        </div>
    </div>


    <div class="container" id="list" style="display:none">
        <div style="position: absolute;left: 50%;height:800px">
            <div style="width:1000px;height:560px;line-height: 25px;margin: 0 5px;float: left;position: relative;right: 50%;padding-top:60px">
                <p style="font-size:30px;color:#FFFFFF;text-align:center;padding-top:20px">
                    设置还没添加，敬请期待
                </p>
            </div>
        </div>
    </div>

</div>


<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/bootstrap-transition.js"></script>
<script src="/assets/js/bootstrap-alert.js"></script>
<script src="/assets/js/bootstrap-modal.js"></script>
<script src="/assets/js/bootstrap-dropdown.js"></script>
<script src="/assets/js/bootstrap-scrollspy.js"></script>
<script src="/assets/js/bootstrap-tab.js"></script>
<script src="/assets/js/bootstrap-tooltip.js"></script>
<script src="/assets/js/bootstrap-popover.js"></script>
<script src="/assets/js/bootstrap-button.js"></script>
<script src="/assets/js/bootstrap-collapse.js"></script>
<script src="/assets/js/bootstrap-carousel.js"></script>
<script src="/assets/js/bootstrap-typeahead.js"></script>

<script type="text/javascript">
    function toggleMenu(obj) {
        if (obj == '0') {
            document.location = "/live/list";
        }
        else if (obj == '1') {
            document.location = "/live/show/<%=username%>";
        }
        else if (obj == '2') {
            danmuList();
        }
        else if (obj == '9') {
            $("#myroom").hide();
            $("#list").show();
        }
        else if (obj == '10') {
            $('#shareModal').modal('show');
        }
    }

    function startLive(id) {
        if ($("#livename").val() == "") {
            swal("注意！", "直播间名字不能为空！", "error");
            return;
        }
        $.ajax({
            //提交数据的类型 POST GET
            type: "POST",
            //提交的网址
            url: "/live/start",
            //提交的数据
            data: {
                user_id: id,
                live_name: $("#livename").val()
            },
            //返回数据的格式
            datatype: "json",
            success: function (data) {
                if (data.error) {
                    alert(data.error);
                }
                else {
//                    $("#livename").remove();
//                    $("#startLiveButton").before('<p id="codetip" style="font-size:14px;color:#FFFFFF">已开启直播,推流码：&nbsp;&nbsp;<span id="mycode">' + data.result + '</span></p>');
//                    $("#startLiveButton").removeClass("btn-success");
//                    $("#startLiveButton").addClass("btn-primary");
//                    $("#startLiveButton").text("分享直播间");
//                    $("#startLiveButton").attr("onclick", "endLive('" + id + "')");
//                    $("#streamcode").text(data.result);
//                    $('#myModal').modal('show');
                    swal({
                        title: "成功",
                        text: "直播间已开启",
                        type: "success",
                        showCancelButton: false,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "收到",
                        closeOnConfirm: false,
                        closeOnCancel: true,
                        html: false
                    }, function (isConfirm) {
                        location.reload();
                    });
                }
            },
            //调用出错执行的函数
            error: function (err) {
                alert("系统错误，请稍后再试");
            }
        });
    }

    function endLive(id) {
        swal({
            title: "请三思",
            text: "你确定要关闭直播吗？\n再次开启直播码就会变化哦！\n客户端就要重新设置哦！\n放着不关闭也不会少块肉的哦！",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "俺非要关闭!",
            cancelButtonText: "唉...那算了",
            closeOnConfirm: false,
            closeOnCancel: true,
            html: false
        }, function (isConfirm) {
            if (isConfirm) {
                $.ajax({
                    //提交数据的类型 POST GET
                    type: "POST",
                    //提交的网址
                    url: "/live/end",
                    //提交的数据
                    data: {
                        streamcode: $("#mycode").text(),
                    },
                    //返回数据的格式
                    datatype: "json",
                    success: function (data) {
                        if (data.error) {
                            alert("系统错误，请稍后再试");
                        }
                        else if (data.result == "success") {
//                            $("#codetip").remove();
//                            $("#startLiveButton").removeClass("btn-danger");
//                            $("#startLiveButton").addClass("btn-success");
//                            $("#startLiveButton").text("开启直播");
//                            $("#startLiveButton").attr("onclick", "startLive('" + id + "')");
//                            $("#startLiveButton").before('<input id="livename" type="text" style="width:360px;height:30px;margin:5px" placeholder="请输入直播间名称"/>');
                            swal({
                                title: "成功",
                                text: "直播间已关闭",
                                type: "success",
                                showCancelButton: false,
                                confirmButtonColor: "#DD6B55",
                                confirmButtonText: "收到",
                                closeOnConfirm: false,
                                closeOnCancel: true,
                                html: false
                            }, function (isConfirm) {
                                location.reload();
                            });
                        }

                    },
                    //调用出错执行的函数
                    error: function (err) {
                        alert("系统错误，请稍后再试");
                    }
                });
            }
        });
    }

    function danmuList() {
        window.open('/live/danmuList', 'danmuList', 'height=700px,width=400px,,top=60px,left=600px,status=no,toolbar=no,menubar=no,location=no,scrollbars=yes');
    }

    //改房间名
    function changeRoomName() {
        swal({
            title: "修改房间名",
            text: "请输入新房间名",
            type: "input",
            showCancelButton: true,
            closeOnConfirm: false,
            animation: "slide-from-top",
            inputPlaceholder: "请输入新房间名字"
        }, function (inputValue) {
            if (inputValue === false) return false;
            if (inputValue === "") {
                swal.showInputError("房间名不能为空!");
                return false
            }
            $.ajax({
                //提交数据的类型 POST GET
                type: "POST",
                //提交的网址
                url: "/live/updateRoomName",
                //提交的数据
                data: {
                    live_id: "<%=streamcode%>",
                    live_name:inputValue
                },
                //返回数据的格式
                datatype: "json",
                success: function (data) {
                    if (data.error) {
                        alert("系统错误，请稍后再试");
                    }
                    else if(data.result == "success"){
                        swal("修改成功", "您的房间名已经修改为<" + inputValue+">", "success");
                    }
                },
                //调用出错执行的函数
                error: function (err) {
                    alert("系统错误，请稍后再试");
                }
            });
        });
    }


    //房间加密
    function encodeRoom() {
        swal({
            title: "房间加密",
            text: "请输入密码",
            type: "input",
            showCancelButton: true,
            closeOnConfirm: false,
            animation: "slide-from-top",
            inputPlaceholder: "请输入房间密码"
        }, function (inputValue) {
            if (inputValue === false) return false;
            $.ajax({
                //提交数据的类型 POST GET
                type: "POST",
                //提交的网址
                url: "/live/updateLivePassword",
                //提交的数据
                data: {
                    live_id: "<%=streamcode%>",
                    password:inputValue
                },
                //返回数据的格式
                datatype: "json",
                success: function (data) {
                    if (data.error) {
                        alert("系统错误，请稍后再试");
                    }
                    else if(data.result == "success"){
                        swal("加密成功", "您的房间密码是<" + inputValue+">", "success");
                    }
                },
                //调用出错执行的函数
                error: function (err) {
                    alert("系统错误，请稍后再试");
                }
            });
        });
    }

</script>

</body>
</html>
